<div class="page-content--bge5">
  <div class="container">
      <div class="login-wrap">
          <div class="login-content">
              <div class="login-logo">
                  <a href="#">
                      <img src="/assets/CoolAdmin-master/images/icon/logo.png" alt="CoolAdmin">
                  </a>
              </div>
              <div class="login-form">
                  <form [formGroup]="loginForm">
                      <div class="form-group">
                          <label>Correo Electrónico</label>
                          <input class="au-input au-input--full" type="email" name="vCorreo" formControlName="vCorreo" [(ngModel)]="correo" placeholder="Correo Electrónico">
                          <mensaje-error-input [control]="f.vCorreo"></mensaje-error-input>
                      </div>
                      <div class="form-group">
                          <label>Contraseña</label>
                          <input class="au-input au-input--full" type="password" name="vPassword" formControlName="vPassword" [(ngModel)]="password" placeholder="Contraseña">
                          <mensaje-error-input [control]="f.vPassword"></mensaje-error-input>
                      </div>
                      <div class="login-checkbox">
                          <label>
                              <input type="checkbox" name="remember">Recordarme
                          </label>
                          <label>
                              <a href="#">Olvidaste tu contraseña?</a>
                          </label>
                      </div>
                      <button class="au-btn au-btn--block au-btn--green m-b-20" type="button" (click)="ingresar()">ingresar</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>