<loading *ngIf="cargando"></loading>
<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">Detalle Parcero</div>
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center title-2">Datos Personales</h3>
                        </div>
                        <hr>
                        <mensaje *ngIf="mensaje" [mensaje]="mensaje"></mensaje>
                        <div class="media" *ngIf="parcero">
                            <imagen-parcero [parcero]="parcero" [tipo]="'big'"></imagen-parcero>
                            <div class="media-body">
                                <h2 class="display-6">{{parcero.nombres}} {{parcero.apellidos}}</h2>
                                <h3 *ngIf="parcero.apodo">"{{parcero.apodo}}"</h3>
                                <p>Cel: {{parcero.celular}}</p>
                                <p *ngIf="educador">Educador CE: {{educador.name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="default-tab" *ngIf="parcero">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-primercontactacto-tab" data-toggle="tab"
                                        href="#nav-primercontactacto" role="tab" aria-controls="nav-primercontactacto"
                                        aria-selected="true">Primer Contacto</a>
                                    <a class="nav-item nav-link" id="nav-cbtriesgos-tab" data-toggle="tab"
                                        href="#nav-cbtriesgos" role="tab" aria-controls="nav-cbtriesgos"
                                        aria-selected="false">CBT Riesgos</a>
                                    <a class="nav-item nav-link" id="nav-sesiones-tab" data-toggle="tab"
                                        href="#nav-sesiones" role="tab" aria-controls="nav-sesiones"
                                        aria-selected="false">Sesiones</a>
                                </div>
                            </nav>
                            <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-primercontactacto" role="tabpanel"
                                    aria-labelledby="nav-primercontactacto-tab">
                                    <div class="table-responsive table--no-card m-b-30">
                                        <table class="table table-borderless table-striped table-earning">
                                            <tbody>
                                                <tr (click)="irParcero()">
                                                    <td style="width: 40px;"><i class="fa fa-male"></i></td>
                                                    <td>Datos Personales</td>
                                                    <td class="text-right">
                                                        <div class="table-data-feature">
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Ver"
                                                                *ngIf="!tieneAccesoRegistrarEducadorCE()">
                                                                <i class="fa fa-eye"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Edit"
                                                                *ngIf="tieneAccesoRegistrarEducadorCE()">
                                                                <i class="fa fa-pencil"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr (click)="irFuente()">
                                                    <td style="width: 40px;"><i class="fa fa-user-secret"></i></td>
                                                    <td>Fuente</td>
                                                    <td class="text-right">
                                                        <div class="table-data-feature">
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Ver"
                                                                *ngIf="botonVer() && fuente">
                                                                <i class="fa fa-eye"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Registrar"
                                                                *ngIf="botonRegistrar() && !fuente">
                                                                <i class="fa fa-plus-circle"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Modificar"
                                                                *ngIf="botonEditar() && fuente">
                                                                <i class="fa fa-pencil"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr (click)="irFamilia()">
                                                    <td style="width: 40px;"><i class="fa fa-users"></i></td>
                                                    <td>Familia / Conocimiento</td>
                                                    <td class="text-right">
                                                        <div class="table-data-feature">
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Ver"
                                                                *ngIf="botonVer() && familia">
                                                                <i class="fa fa-eye"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Registrar"
                                                                *ngIf="botonRegistrar() && !familia">
                                                                <i class="fa fa-plus-circle"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Modificar"
                                                                *ngIf="botonEditar() && familia">
                                                                <i class="fa fa-pencil"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr (click)="irEmpleo()">
                                                    <td style="width: 40px;"><i class="fa fa-briefcase"></i></td>
                                                    <td>Empleo</td>
                                                    <td class="text-right">
                                                        <div class="table-data-feature">
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Ver"
                                                                *ngIf="botonVer() && empleo">
                                                                <i class="fa fa-eye"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Registrar"
                                                                *ngIf="botonRegistrar() && !empleo">
                                                                <i class="fa fa-plus-circle"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Modificar"
                                                                *ngIf="botonEditar() && empleo">
                                                                <i class="fa fa-pencil"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr (click)="irCondiciones()">
                                                    <td style="width: 40px;"><i class="fa fa-align-justify"></i></td>
                                                    <td>Condiciones al primer contacto</td>
                                                    <td class="text-right">
                                                        <div class="table-data-feature">
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Ver"
                                                                *ngIf="botonVer() && condicion">
                                                                <i class="fa fa-eye"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Registrar"
                                                                *ngIf="botonRegistrar() && !condicion">
                                                                <i class="fa fa-plus-circle"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Modificar"
                                                                *ngIf="botonEditar() && condicion">
                                                                <i class="fa fa-pencil"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr (click)="irPeticiones()">
                                                    <td style="width: 40px;"><i class="fa fa-meh-o"></i></td>
                                                    <td>Peticiones</td>
                                                    <td class="text-right">
                                                        <div class="table-data-feature">
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Ver"
                                                                *ngIf="botonVer() && peticion">
                                                                <i class="fa fa-eye"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Registrar"
                                                                *ngIf="botonRegistrar() && !peticion">
                                                                <i class="fa fa-plus-circle"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Modificar"
                                                                *ngIf="botonEditar() && peticion">
                                                                <i class="fa fa-pencil"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr (click)="irRespuestaResultado()">
                                                    <td style="width: 40px;"><i class="fa fa-file-text"></i></td>
                                                    <td>Respuestas / resultados</td>
                                                    <td class="text-right">
                                                        <div class="table-data-feature">
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Ver"
                                                                *ngIf="botonVer() && respuesta">
                                                                <i class="fa fa-eye"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Registrar"
                                                                *ngIf="botonRegistrar() && !respuesta">
                                                                <i class="fa fa-plus-circle"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip"
                                                                data-placement="top" title="Modificar"
                                                                *ngIf="botonEditar() && respuesta">
                                                                <i class="fa fa-pencil"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-cbtriesgos" role="tabpanel"
                                    aria-labelledby="nav-cbtriesgos-tab">
                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu
                                        stumptown aliqua, retro synth
                                        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                                        Reprehenderit butcher retro keffiyeh
                                        dreamcatcher synth. Cosby sweater eu banh mi, irure terry richardson ex sd. Alip
                                        placeat salvia cillum iphone.
                                        Seitan alip s cardigan american apparel, butcher voluptate nisi .</p>
                                </div>
                                <div class="tab-pane fade" id="nav-sesiones" role="tabpanel"
                                    aria-labelledby="nav-sesiones-tab">
                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu
                                        stumptown aliqua, retro synth
                                        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                                        Reprehenderit butcher retro keffiyeh
                                        dreamcatcher synth. Cosby sweater eu banh mi, irure terry richardson ex sd. Alip
                                        placeat salvia cillum iphone.
                                        Seitan alip s cardigan american apparel, butcher voluptate nisi .</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>