<loading *ngIf="cargando"></loading>
<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">Registro Parcero</div>
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center title-2">Datos Personales</h3>
                        </div>
                        <hr>
                        <mensaje *ngIf="mensaje" [mensaje]="mensaje"></mensaje>
                        <form [formGroup]="parceroForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="fecha-contacto" class="control-label mb-1">Fecha Contacto</label>
                                        <input id="fecha-contacto" type="date" class="form-control"
                                            formControlName="vFechaContacto" [(ngModel)]="parcero.fechaContacto">
                                        <mensaje-error-input [control]="f.vFechaContacto"></mensaje-error-input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="hora-contacto" class="control-label mb-1">Hora Contacto</label>
                                        <input id="hora-contacto" type="time" class="form-control"
                                            formControlName="vHoraContacto" [(ngModel)]="parcero.horaContacto">
                                        <mensaje-error-input [control]="f.vHoraContacto"></mensaje-error-input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="institucion" class="control-label mb-1">Institución</label>
                                        <input id="institucion" type="text" class="form-control"
                                            formControlName="vInstitucion" [(ngModel)]="parcero.institucion">
                                        <mensaje-error-input [control]="f.vInstitucion"></mensaje-error-input>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="servicio" class="control-label mb-1">Tipo de Servicio</label>
                                        <select id="servicio" class="form-control" formControlName="vServicio" [(ngModel)]="parcero.servicio">
                                            <option value="{{servicio.codigo}}" *ngFor="let servicio of servicios">{{servicio.valor}}</option>
                                        </select>
                                        <mensaje-error-input [control]="f.vServicio"></mensaje-error-input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="forma-contacto" class="control-label mb-1">Forma de Contacto</label>
                                        <select id="forma-contacto" class="form-control" formControlName="vFormaContacto" [(ngModel)]="parcero.formaContacto">
                                            <option value="{{formaContacto.codigo}}" *ngFor="let formaContacto of formasContactos">{{formaContacto.valor}}</option>
                                        </select>
                                        <mensaje-error-input [control]="f.vFormaContacto"></mensaje-error-input>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="nombre" class="control-label mb-1">Nombre(s)</label>
                                        <input id="nombre" type="text" class="form-control"
                                            formControlName="vNombre" [(ngModel)]="parcero.nombre">
                                        <mensaje-error-input [control]="f.vNombre"></mensaje-error-input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="apellido" class="control-label mb-1">Apellidos(s)</label>
                                        <input id="apellido" type="text" class="form-control"
                                            formControlName="vApellido" [(ngModel)]="parcero.apellido">
                                        <mensaje-error-input [control]="f.vApellido"></mensaje-error-input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="apodo" class="control-label mb-1">Apodo</label>
                                        <input id="apodo" type="text" class="form-control"
                                            formControlName="vApodo" [(ngModel)]="parcero.apodo">
                                        <mensaje-error-input [control]="f.vApodo"></mensaje-error-input>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="edad" class="control-label mb-1">Edad</label>
                                        <input id="edad" type="text" class="form-control"
                                            formControlName="vEdad" [(ngModel)]="parcero.edad">
                                        <mensaje-error-input [control]="f.vEdad"></mensaje-error-input>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary" (click)="guardar()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>